html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    min-width: 370px;
    min-height: 370px;
}

body {
    background-color: #000000;
    color: #F7F7FF;
}

#main-container {
    height: 99vh;
}

.main-button-design {
    background-color: #406E8E;
    color: #000000;
    height: 40px;
    border-radius: 5px;
}

.main-button-design:hover {
    color: #F7F7FF;
    transform: scale(1.01);
    background-color: #8A4F7D;
}

.secondary-button-design {
    background-color: #406E8E;
    color: #F7F7FF;
    border-radius: 5px;
}

.secondary-button-design:hover {
    color: #000000;
    transform: scale(1.01);
    background-color: #8A4F7D;
}

.offcanvas-button-design {
    background-color: #406E8E;
    color: #F7F7FF;
    height: 50px;
}

.offcanvas-button-design:hover {
    color: #000000;
    transform: scale(1.01);
    background-color: #8A4F7D;
}

.user-text-input {
    border-radius: 5px;
    background-color: #A0C1D1;
    border-color: #8A4F7D;
    box-shadow: 1px 1px #8A4F7D;

}

.user-text-input:focus {
    outline: #8A4F7D solid 3px;
    transform: scale(1.01);
    background-color: #A0C1D1;
}

.user-text-input::placeholder {
    color: #231B1B;
    font-size: 18px;
}

.floating-label-colors {
    color: #231B1B;
    background-color: transparent;
}

.main-colors {
    background-color: #406E8E;
    color: #F7F7FF;
}

#search-box {
    height: 35px;
}

#email-display, #email-list{
    height: 80%;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#email-display{
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px #406E8E;
}

#email-list {
    scrollbar-color: #406E8E #F7F7FF;
}

.email-header {
    font-size: 18px;
    font-weight: bold;
}

.email-sender, .email-content {
    font-size: 12px;
}

.email-subject {
    font-weight: bolder;
    font-size: 16px;
}

.email-list-item:hover {
    background-color: #8A4F7D;
    cursor: pointer;
}

#emailComposeModalHeader {
    height: 25vh;
    min-height: 25px;
    overflow-y: scroll;
}

#emailComposeModalContent {
    height: 25vh;
    min-height: 150px;
}

.custom-popover {
    --bs-popover-border-color: #8A4F7D;
    --bs-popover-header-bg: #406E8E;
    --bs-popover-header-color: #F7F7FF;
}


@media screen and (max-height: 560px) {
    #email-display, #email-list{
        height: 75%;
    }
}

@media screen and (max-height: 440px) {
    #email-display, #email-list{
        height: 70%;
    }
}

@media screen and (max-height: 370px) {
    #email-display, #email-list{
        height: 60%;
    }
}